# **Web Scraping Lab**

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="BSO">Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li>Children, Parents, and Siblings</li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href="filter">Filter</a>
            <ul>
                <li>find All</li>
                <li>find </li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="DSCW">Downloading And Scraping The Contents Of A Web</a>
    </li>
         </ul>
    <p>
        Estimated time needed: <strong>25 min</strong>
    </p>

</div>

<hr>

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.2.1-py3-none-any.whl (33 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=231f286e17b20adb2080337039caaa5f4b7048a59c3ecff0be1999c74f3d3549
  Stored in directory: c:\users\crusa\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.2.1

Import the required modules and functions

In [5]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

<h2 id="BSO">Beautiful Soup Objects</h2>

Beautiful Soup is a Python library for pulling data out of HTML and XML files. We will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [2]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p><br>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p><br>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p><br>
</body>
</html>

We can store it as a string in the variable HTML:

In [6]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><br><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><br><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p><br></body></html>"

To parse a document, pass it into the <code>BeautifulSoup</code> constructor, the <code>BeautifulSoup</code> object, which represents the document as a nested data structure:

In [4]:
%pip install html5lib

Requirement already satisfied: html5lib in c:\users\crusa\anaconda3\envs\tensor\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\crusa\anaconda3\envs\tensor\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\crusa\anaconda3\envs\tensor\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
soup = BeautifulSoup(html, 'html5lib')

First, the document is converted to Unicode, (similar to ASCII),  and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this lab, we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects that for the purposes of this lab are identical, and <code>NavigableString</code> objects.

We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [8]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <br/>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <br/>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
  <br/>
 </body>
</html>

## Tags

Let's say we want the  title of the page and the name of the top paid player. We can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [9]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [10]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [11]:
print(soup.head, soup.body.prettify(), sep="\n\n")

<head><title>Page Title</title></head>

<body>
 <h3>
  <b id="boldest">
   Lebron James
  </b>
 </h3>
 <p>
  Salary: $ 92,000,000
 </p>
 <br/>
 <h3>
  Stephen Curry
 </h3>
 <p>
  Salary: $85,000, 000
 </p>
 <br/>
 <h3>
  Kevin Durant
 </h3>
 <p>
  Salary: $73,200, 000
 </p>
 <br/>
</body>

If there is more than one <code>Tag</code>  with the same name, the first element with that <code>Tag</code> name is called, this corresponds to the most paid player:

In [12]:
tag_object = soup.h3
tag_object

In [13]:
soup.p

In [14]:
soup.b

In [15]:
soup.br

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

### Children, Parents, and Siblings

As stated above the <code>Tag</code> object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [16]:
tag_child = tag_object.b
tag_child

You can access the parent with the <code> parent</code>

In [17]:
parent_tag = tag_child.parent
parent_tag

this is identical to

In [18]:
tag_object

<code>tag_object</code> parent is the <code>body</code> element.

In [20]:
tag_object.parent.parent

<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><br/><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><br/><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p><br/></body></html>

<code>tag_object</code> sibling is the <code>paragraph</code> element

In [21]:
sibling_1=tag_object.next_sibling
sibling_1

<div class=alert alert-info">

`.children` will return a list of all the children of the tag object with which you can iterate through.
</div>

In [20]:
for i in tag_object.children:
    print(i.prettify(), end="\n\n")

<b id="boldest">
 Lebron James
</b>

`sibling_2` is the `header` element which is also a sibling of both `sibling_1` and `tag_object`

In [19]:
sibling_2=sibling_1.next_sibling
sibling_2

<h3 id="first_question">Exercise: <code>next_sibling</code></h3>

Using the object <code>sibling\_2</code> and the method <code>next_sibling</code> to find the salary of Stephen Curry:

In [21]:
sibling_2.next_sibling, sibling_2.parent.p

(<p> Salary: $85,000, 000 </p>, <p> Salary: $ 92,000,000 </p>)

<details><summary>Click here for the solution</summary>

```
sibling_2.next_sibling

```

</details>

In [23]:
sibling_2.previousSibling, sibling_2.previous_sibling

(<p> Salary: $ 92,000,000 </p>, <p> Salary: $ 92,000,000 </p>)

<div class="alert alert-success">

`next_siblings` also return an iterable object which consists of all the siblings that come next to the current tag object.
</div>

In [27]:
for i in sibling_1.next_siblings: 
    print(i)
# next_siblings with plural s returns a generator consisting of all the next siblings

<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
<b id="boldest">Lebron James</b>

### HTML Attributes

If the tag has attributes, like the tag `h3` with <code>id="boldest"</code> which has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tag’s attributes by treating the tag like a dictionary:

In [25]:
# Recall that tag_child was:
print(tag_child.prettify(), end="\n");
tag_child.prettify(), tag_child

<b id="boldest">
 Lebron James
</b>

('<b id="boldest">\n Lebron James\n</b>', <b id="boldest">Lebron James</b>)

In [26]:
tag_child['id']

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [27]:
tag_child.attrs

{'id': 'boldest'}

<div class="alert alert-warning">
    
You can also work with Multi-valued attribute check out <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">\[1]</a> for more.

We can also obtain the value of the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [31]:
tag_child.get('id')

'boldest'

### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the string of the <code>Tag</code> object <code>tag_child</code> as follows:

In [30]:
# recall
tag_child, tag_child.attrs

(<b id="boldest">Lebron James</b>, {'id': 'boldest'})

In [29]:
tag_string = tag_child.string
tag_string

'Lebron James'

we can verify the type is Navigable String

In [33]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some  <code>BeautifulSoup</code> features. We can covert it to sting object in Python:

In [34]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

<h2 id="filter">Filter</h2>

Filters allow you to find complex patterns. The simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.  Consider the following HTML of rocket launchs:

In [31]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable <code>table</code>:

In [32]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [33]:
table_bs = BeautifulSoup(table, 'html5lib')

## find All

The <code>find_all()</code> method looks through a tag’s descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

### Name

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [36]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a <code>tag</code> object:

In [37]:
first_row = table_rows[0]
first_row

In [38]:
for i in table_rows:
    print(i.prettify())

<tr>
 <td id="flight">
  Flight No
 </td>
 <td>
  Launch site
 </td>
 <td>
  Payload mass
 </td>
</tr>

<tr>
 <td>
  1
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Florida">
   Florida
  </a>
  <a>
  </a>
 </td>
 <td>
  300 kg
 </td>
</tr>

<tr>
 <td>
  2
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Texas">
   Texas
  </a>
 </td>
 <td>
  94 kg
 </td>
</tr>

<tr>
 <td>
  3
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Florida">
   Florida
  </a>
  <a>
  </a>
 </td>
 <td>
  80 kg
 </td>
</tr>

The type is <code>tag</code>

In [39]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [43]:
# recall first_row = table_rows[0]

first_row.td, first_row.td.attrs

(<td id="flight">Flight No</td>, {'id': 'flight'})

If we iterate through the list, each element corresponds to a row in the table:

In [44]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code>  attribute.

In [45]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [46]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

### How to show this with prettify()

In [51]:
# map([1,2,3], lambda x: 2*x)
list(map(lambda x:x*2, [1,2,3]))

[2, 4, 6]

In [54]:
for i in list(map(lambda x:x.prettify(), list(list_input))):
    print(i)

<tr>
 <td id="flight">
  Flight No
 </td>
 <td>
  Launch site
 </td>
 <td>
  Payload mass
 </td>
</tr>

<td id="flight">
 Flight No
</td>

<td>
 Launch site
</td>

<td>
 Payload mass
</td>
<tr>
 <td>
  1
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Florida">
   Florida
  </a>
  <a>
  </a>
 </td>
 <td>
  300 kg
 </td>
</tr>

<td>
 1
</td>

<td>
 <a href="https://en.wikipedia.org/wiki/Florida">
  Florida
 </a>
 <a>
 </a>
</td>

<td>
 300 kg
</td>
<tr>
 <td>
  2
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Texas">
   Texas
  </a>
 </td>
 <td>
  94 kg
 </td>
</tr>

<td>
 2
</td>

<td>
 <a href="https://en.wikipedia.org/wiki/Texas">
  Texas
 </a>
</td>

<td>
 94 kg
</td>
<tr>
 <td>
  3
 </td>
 <td>
  <a href="https://en.wikipedia.org/wiki/Florida">
   Florida
  </a>
  <a>
  </a>
 </td>
 <td>
  80 kg
 </td>
</tr>
<td>
 3
</td>

<td>
 <a href="https://en.wikipedia.org/wiki/Florida">
  Florida
 </a>
 <a>
 </a>
</td>

<td>
 80 kg
</td>

## Attributes

If the argument is not recognized it will be turned into a filter on the tag’s attributes. For example the <code>id</code>  argument, Beautiful Soup will filter against each tag’s <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [55]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [56]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

If we set the  <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [57]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [58]:
table_bs.find_all(id=True)

There are other methods for dealing with attributes and other related methods; Check out the following <a href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01#css-selectors'>link</a>

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

In [59]:
table_bs.findAll(href=False)

[<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>,
 <head></head>,
 <body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body>,
 <table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table>,
 <tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <a> </a>,
 <td>80 kg</td>]

<details><summary>Click here for the solution</summary>

```
table_bs.find_all(href=False)

```

</details>

Using the soup object <code>soup</code>, find the element with the <code>id</code> attribute content set to <code>"boldest"</code>.

In [60]:
soup.findAll(id="boldest")

<details><summary>Click here for the solution</summary>

```
soup.find_all(id="boldest")

```

</details>

<div class="alert alert-info">
    
Recall find_all(name, attrs, recursive, string, limit, **kwargs)

### string

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [61]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

SOUND USELESS?!?!?

## find

The <code>find_all()</code> method scans the entire document looking for results, it’s if you are looking for one element you can use the <code>find()</code> method to find the first element in the document. Consider the following two table:

In [62]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code>:

In [63]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [64]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

<div class="alert alert-success">
    
Why not `html5lib`?

We can find the first table using the tag name table

In [65]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

In [66]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<font color="purple">
    
Note that we used `attr` argument.

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

We Download the contents of the web page:

In [67]:
url = "http://www.ibm.com"

We use <code>get</code> to download the contents of the webpage in text format and store in a variable called <code>data</code>:

In [68]:
data  = requests.get(url).text

We create a <code>BeautifulSoup</code> object using the <code>BeautifulSoup</code> constructor

In [69]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Scrape all links

In [70]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/de/de

https://www.ibm.com/de-de/products?lnk=hpmps_bupr_dede&lnk2=link
https://www.ibm.com/de-de/industries?lnk=hpmps_buin_dede&lnk2=link
https://www.ibm.com/de-de/artificial-intelligence?lnk=hpmps_buai_dede&lnk2=link
https://www.ibm.com/de-de/automation?lnk=hpmps_buau_dede&lnk2=link
https://www.ibm.com/de-de/blockchain?lnk=hpmps_bubc_dede&lnk2=link
https://www.ibm.com/de-de/business-operations?lnk=hpmps_buop_dede&lnk2=link
https://www.ibm.com/de-de/cloud?lnk=hpmps_bucl_dede&lnk2=link
https://www.ibm.com/de-de/analytics?lnk=hpmps_buda_dede&lnk2=link
https://www.ibm.com/de-de/it-infrastructure?lnk=hpmps_buit_dede&lnk2=link
https://www.ibm.com/de-de/security?lnk=hpmps_buse_dede&lnk2=link
https://www.ibm.com/de-de/supply-chain?lnk=hpmps_busc_dede&lnk2=link
https://www.ibm.com/de-de/financing?lnk=hpmps_bufi_dede&lnk2=link
https://www.ibm.com/de-de/products?lnk=hpmps_buall_dede&lnk2=link

https://www.ibm.com/de-de/services/process?lnk=hpmsc_bups_dede&lnk2=link
https://www.ibm.com/services/de-de/ibmix/?lnk=hpmsc_budbs_dede&lnk2=link
https://www.ibm.com/de-de/services/cloud?lnk=hpmsc_buhs?lnk=hpmsc_buhs_dede
https://www.ibm.com/de-de/talent-management?lnk=hpmsc_buta_dede&lnk2=link
https://www.ibm.com/de-de/services/applications?lnk=hpmsc_buas_dede&lnk2=link
https://www.ibm.com/de-de/security/services?lnk=hpmsc_buse_dede&lnk2=link
https://www.ibm.com/de-de/services/technology-support?lnk=hpmsc_busv_dede&lnk2=link
https://www.ibm.com/de-de/financing/solutions/it-services-financing?lnk=hpmsc_bufi_dede&lnk2=link
https://www.ibm.com/de-de/services?lnk=hpmsc_buall_dede&lnk2=link

https://www.ibm.com/support/de/de/?lnk=hpmls_busu_dede&lnk2=link
https://www.ibm.com/support/knowledgecenter/?lnk=hpmls_budc_dede&lnk2=link
https://developer.ibm.com/?lnk=hpmls_bude_dede&lnk2=link
https://www.ibm.com/training/?lnk=hpmls_butr_dede&lnk2=link
https://www.ibm.com/blogs/?lnk=hpmls_bure_dede&lnk2=link
https://www.ibm.com/cloud/learn?lnk=hpmls_buwi_dede&lnk2=link

https://www.ibm.com/de-de/partnerworld/public?lnk=hpmex_bupa_dede&lnk2=link
https://www.research.ibm.com/?lnk=hpmex_bure_dede&lnk2=link
https://www.ibm.com/de-de/about?lnk=hpmex_buab_dede&lnk2=link
https://www.ibm.com/de-de/impact/covid-19?lnk=hpmex_buco_dede&lnk2=link
https://www.ibm.com/sitemap/de/de
https://www.ibm.com/blogs/digitale-perspektive/2021/06/quantum-opening-in-ehningen/?lnk=dehpv18l1
https://de.newsroom.ibm.com/2021-06-15-IBM-Studie-Pandemie-bedingte-digitale-Abhangigkeit-erzeugt-anhaltende-Sicherheitsnebenwirkungen?lnk=dehpv18nf1
/de-de/security/artificial-intelligence
/de-de/business-operations/systems-engineering
https://www.ibm.biz/BdfvFs?lnk=dehpv18f5
https://www.ibm.com/employment/garage/#jobs?country=Germany&job-search=&lnk=dehpv18f2
https://www.ibm.com/blogs/think/de-de/2021/05/quantencomputer-sind-die-zukunft/?lnk=dehpv18f3
/de-de/products/offers-and-discounts
/de-de/products/cloud-pak-for-data
/de-de/cloud/watson-discovery
/de-de/cloud/cloud-pak-for-business-automation
/de-de/products/planning-analytics
/products/digital-learning-subscription/pricing?lnk=dehpv18t1
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://www.ibm.com/demos/?lnk=hpv18ct12
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/en?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/de-de/cloud/hybrid?lnk=hpv18pt14
/cloud/learn/public-cloud?lnk=hpv18ct1
/de-de/watson?lnk=ushpv18pt17
/de-de/garage?lnk=hpv18pt13
/de-de/blockchain?lnk=hpv18pt4
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=hpv18pt12
/de-de/analytics?lnk=hpv18pt1
/de-de/security?lnk=hpv18pt9
/de-de/financing?lnk=hpv18pt3
https://www.ibm.com/de-de/quantum-computing?lnk=hpv18pt16
/de-de/cloud/hybrid?lnk=hpv18ct20
/cloud/learn/public-cloud?lnk=hpv18ct1
/de-de/cloud/redhat?lnk=hpv18ct13
/de-de/watson?lnk=hpv18ct3
https://www.ibm.com/de-de/quantum-computing?lnk=hpv18ct18
/cloud/learn/kubernetes?lnk=hpv18ct8
/de-de/products/spss-statistics?lnk=ushpv18ct7
/de-de/blockchain?lnk=hpv18ct1
https://www.ibm.com/de-de/employment?lnk=hpv18ct2
https://www.ibm.com/case-studies/coca-cola-european-partners/?lnk=hpv18cs1
/case-studies/search?lnk=hpv18cs2
https://www.ibm.com/de-de/products/?lnk=fdi
https://www.ibm.com/software/de/info/trials/?lnk=STW_DE_HPF_THP_FT_TL&lnk2=goto_THP
https://www.ibm.com/de-de/marketplace/collections/offers-and-discounts/?lnk=STW_DE_HPF_DISC_FT_TL&lnk2=goto_MPDISC
https://www.ibm.com/technologyservices/de/de/?lnk=fdi-dede
https://www.ibm.com/de-de/industries
https://www.ibm.com/ibm/clientreference/us/en/?lnk=fdi-dede
https://www.ibm.com/de-de/events?lnk=fdi-dede
https://www.ibm.com/de-de/blogs/think/?lnk=fdi-dede
https://www.ibm.com/marketing/de-de/das-ist-ibm/
https://www.ibm.com/de-de/financing
https://www.ibm.com/developerworks/?lnk=fif-dede
https://www.ibm.com/de-de/partnerworld/public
https://www.ibm.biz/cspdach?lnk=fif-dede
https://www.ibm.com/partners/start/?lnk=fif-dede
https://www.ibm.com/support/de/de/?lnk=fcw-dede
https://www.ibm.com/partnerworld/public
https://myibm.ibm.com/dashboard/?lnk=mmi_dede
https://www.ibm.com/employment/de-de/?lnk=fab-dede
https://de.newsroom.ibm.com/
https://www.ibm.com/investor/?lnk=fab-dede
https://www.ibm.com/ibm/de/de/?lnk=fab-dede
https://www.ibm.com/ibm/clientcenter/boeblingen/
https://www.ibm.com/ibm/clientcenter/ehningen/?lnk=fab-dede
https://www.ibm.com/internet-of-things/learn/munich-iot-center
https://www.ibm.com/contact/de/de/?lnk=flg-cont-dede
https://www.ibm.com/de-de/privacy?lnk=flg-priv-dede
https://www.ibm.com/de-de/legal?lnk=flg-tous-dede
https://www.ibm.com/able?lnk=flg-able-dede
https://www.ibm.com/ibm/de/de
#

## Scrape  all images  Tags

In [71]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Bild einer grafischen Darstellung  von Zahlen der KI Entwicklung" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-06-16/20210607-f-ai-for-security-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-06-16/20210607-f-ai-for-security-444x254.jpg
<img alt="Das Bild zeigt zwei Personen vor Bildschirmen mit Produktentwicklungen" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-06-10/664659429_For%20Automotive-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-06-10/664659429_For%20Automotive-444x254.jpg
<img alt="Auf dem Bild sieht man den Schriftzug IBM Liverstudio in weisser Schrift, dahinter ein Mikrofon auf " class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-05-21/30032020-dede-ibm-livestudio-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-05-21/30032020-dede-ibm-livestudio-444x254.jpg
<img alt="Zu sehen ist eine Tür mit dem Logo der IBM Garage" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-06-02/garage_parallax-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-06-02/garage_parallax-444x254.jpg
<img alt="Foto des IBM Quantencomputers" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-06-10/a8201838-836a-441b-aa8a5db140dfbece-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-06-10/a8201838-836a-441b-aa8a5db140dfbece-444x254.jpg
<img alt="Eine Bildschirmdarstellung von IBM Cloud Pak for Data" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-28/Cloud-Pak-for-Data-22396-700x420%5B1%5D.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-28/Cloud-Pak-for-Data-22396-700x420%5B1%5D.png
<img alt="Gezeigt wird eine Bildschirmdarstellung der IBM Lösung Watson Discovery" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-28/watson-discovery-trial_700x420%5B1%5D.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-28/watson-discovery-trial_700x420%5B1%5D.png
<img alt="Gezeigt wird eine Bildschirmdarstellung der IBM Lösung IBM Cloud Pak for Business Automation" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-28/Cloud-pak-for-automation-444x260%5B1%5D.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-28/Cloud-pak-for-automation-444x260%5B1%5D.png
<img alt="Gezeigt wird eine Bildschirmdarstellung der IBM Planning Analytics Lösung" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-28/Planning-Analytics-22201-700x420%5B1%5D.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-28/Planning-Analytics-22201-700x420%5B1%5D.png
<img alt="Das Bild zeigt die IBM Webseite mit den angebotenen IBM Digital Learning Abonnements." class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-29/ibm-cloud-learning-444x254_0.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-29/ibm-cloud-learning-444x254_0.png

## Scrape data from HTML tables

In [72]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

In [73]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [74]:
soup = BeautifulSoup(data,"html5lib")

In [77]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>
print(table)

<table border="1" class="main-table">
   <tbody><tr>
      <td>Number </td>
      <td>Color</td>
      <td>Color Name</td>
      <td>Hex Code<br/>#RRGGBB</td>
      <td>Decimal Code<br/>(R,G,B)</td>
   </tr>
   <tr>
      <td>1</td>
      <td style="background:lightsalmon;"> </td>
      <td>lightsalmon</td>
      <td>#FFA07A</td>
      <td>rgb(255,160,122)</td>
   </tr>
   <tr>
      <td>2</td>
      <td style="background:salmon;"> </td>
      <td>salmon</td>
      <td>#FA8072</td>
      <td>rgb(250,128,114)</td>
   </tr>
   <tr>
      <td>3</td>
      <td style="background:darksalmon;"> </td>
      <td>darksalmon</td>
      <td>#E9967A</td>
      <td>rgb(233,150,122)</td>
   </tr>
   <tr>
      <td>4</td>
      <td style="background:lightcoral;"> </td>
      <td>lightcoral</td>
      <td>#F08080</td>
      <td>rgb(240,128,128)</td>
   </tr>
   <tr>
      <td>5</td>
      <td style="background:coral;"> </td>
      <td>coral</td>
      <td>#FF7F50</td>
      <td>rgb(255,127,80)</td>
   </tr>
   <tr>
      <td>6</td>
      <td style="background:tomato;"> </td>
      <td>tomato</td>
      <td>#FF6347</td>
      <td>rgb(255,99,71)</td>
   </tr>
   <tr>
      <td>7</td>
      <td style="background:orangered;"> </td>
      <td>orangered</td>
      <td>#FF4500</td>
      <td>rgb(255,69,0)</td>
   </tr>
   <tr>
      <td>8</td>
      <td style="background:gold;"> </td>
      <td>gold</td>
      <td>#FFD700</td>
      <td>rgb(255,215,0)</td>
   </tr>
   <tr>
      <td>9</td>
      <td style="background:orange;"> </td>
      <td>orange</td>
      <td>#FFA500</td>
      <td>rgb(255,165,0)</td>
   </tr>
   <tr>
      <td>10</td>
      <td style="background:darkorange;"> </td>
      <td>darkorange</td>
      <td>#FF8C00</td>
      <td>rgb(255,140,0)</td>
   </tr>
   <tr>
      <td>11</td>
      <td style="background:lightyellow;"> </td>
      <td>lightyellow</td>
      <td>#FFFFE0</td>
      <td>rgb(255,255,224)</td>
   </tr>
   <tr>
      <td>12</td>
      <td style="background:lemonchiffon;"> </td>
      <td>lemonchiffon</td>
      <td>#FFFACD</td>
      <td>rgb(255,250,205)</td>
   </tr>
   <tr>
      <td>13</td>
      <td style="background:papayawhip;"> </td>
      <td>papayawhip</td>
      <td>#FFEFD5</td>
      <td>rgb(255,239,213)</td>
   </tr>
   <tr>
      <td>14</td>
      <td style="background:moccasin;"> </td>
      <td>moccasin</td>
      <td>#FFE4B5</td>
      <td>rgb(255,228,181)</td>
   </tr>
   <tr>
      <td>15</td>
      <td style="background:peachpuff;"> </td>
      <td>peachpuff</td>
      <td>#FFDAB9</td>
      <td>rgb(255,218,185)</td>
   </tr>
   <tr>
      <td>16</td>
      <td style="background:palegoldenrod;"> </td>
      <td>palegoldenrod</td>
      <td>#EEE8AA</td>
      <td>rgb(238,232,170)</td>
   </tr>
   <tr>
      <td>17</td>
      <td style="background:khaki;"> </td>
      <td>khaki</td>
      <td>#F0E68C</td>
      <td>rgb(240,230,140)</td>
   </tr>
   <tr>
      <td>18</td>
      <td style="background:darkkhaki;"> </td>
      <td>darkkhaki</td>
      <td>#BDB76B</td>
      <td>rgb(189,183,107)</td>
   </tr>
   <tr>
      <td>19</td>
      <td style="background:yellow;"> </td>
      <td>yellow</td>
      <td>#FFFF00</td>
      <td>rgb(255,255,0)</td>
   </tr>
   <tr>
      <td>20</td>
      <td style="background:lawngreen;"> </td>
      <td>lawngreen</td>
      <td>#7CFC00</td>
      <td>rgb(124,252,0)</td>
   </tr>
   <tr>
      <td>21</td>
      <td style="background:chartreuse;"> </td>
      <td>chartreuse</td>
      <td>#7FFF00</td>
      <td>rgb(127,255,0)</td>
   </tr>
   <tr>
      <td>22</td>
      <td style="background:limegreen;"> </td>
      <td>limegreen</td>
      <td>#32CD32</td>
      <td>rgb(50,205,50)</td>
   </tr>
   <tr>
      <td>23</td>
      <td style="background:lime;"> </td>
      <td>lime</td>
      <td>#00FF00</td>
      <td>rgb(0.255.0)</td>
   </tr>
   <tr>
      <td>24</td>
      <td style="background:forestgreen;"> </td>
      <td>forestgreen</td>
      <td>#228B22</td>
      <td>rgb(34,139,34)</td>
   </tr>
   <tr>
      <td>25</td>
      <td style="background:green;"> </td>
      <td>green</td>
      <td>#008000</td>
      <td>rgb(0,128,0)</td>
   </tr>
   <tr>
      <td>26</td>
      <td style="background:powderblue;"> </td>
      <td>powderblue</td>
      <td>#B0E0E6</td>
      <td>rgb(176,224,230)</td>
   </tr>
   <tr>
      <td>27</td>
      <td style="background:lightblue;"> </td>
      <td>lightblue</td>
      <td>#ADD8E6</td>
      <td>rgb(173,216,230)</td>
   </tr>
   <tr>
      <td>28</td>
      <td style="background:lightskyblue;"> </td>
      <td>lightskyblue</td>
      <td>#87CEFA</td>
      <td>rgb(135,206,250)</td>
   </tr>
   <tr>
      <td>29</td>
      <td style="background:skyblue;"> </td>
      <td>skyblue</td>
      <td>#87CEEB</td>
      <td>rgb(135,206,235)</td>
   </tr>
   <tr>
      <td>30</td>
      <td style="background:deepskyblue;"> </td>
      <td>deepskyblue</td>
      <td>#00BFFF</td>
      <td>rgb(0,191,255)</td>
   </tr>
   <tr>
      <td>31</td>
      <td style="background:lightsteelblue;"> </td>
      <td>lightsteelblue</td>
      <td>#B0C4DE</td>
      <td>rgb(176,196,222)</td>
   </tr>
   <tr>
      <td>32</td>
      <td style="background:dodgerblue;"> </td>
      <td>dodgerblue</td>
      <td>#1E90FF</td>
      <td>rgb(30,144,255)</td>
   </tr>
</tbody></table>

In [79]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    color_rgb = cols[4].string
    print("{}--->{}--->{}".format(color_name,color_code,color_rgb))

Color Name--->None--->None
lightsalmon--->#FFA07A--->rgb(255,160,122)
salmon--->#FA8072--->rgb(250,128,114)
darksalmon--->#E9967A--->rgb(233,150,122)
lightcoral--->#F08080--->rgb(240,128,128)
coral--->#FF7F50--->rgb(255,127,80)
tomato--->#FF6347--->rgb(255,99,71)
orangered--->#FF4500--->rgb(255,69,0)
gold--->#FFD700--->rgb(255,215,0)
orange--->#FFA500--->rgb(255,165,0)
darkorange--->#FF8C00--->rgb(255,140,0)
lightyellow--->#FFFFE0--->rgb(255,255,224)
lemonchiffon--->#FFFACD--->rgb(255,250,205)
papayawhip--->#FFEFD5--->rgb(255,239,213)
moccasin--->#FFE4B5--->rgb(255,228,181)
peachpuff--->#FFDAB9--->rgb(255,218,185)
palegoldenrod--->#EEE8AA--->rgb(238,232,170)
khaki--->#F0E68C--->rgb(240,230,140)
darkkhaki--->#BDB76B--->rgb(189,183,107)
yellow--->#FFFF00--->rgb(255,255,0)
lawngreen--->#7CFC00--->rgb(124,252,0)
chartreuse--->#7FFF00--->rgb(127,255,0)
limegreen--->#32CD32--->rgb(50,205,50)
lime--->#00FF00--->rgb(0.255.0)
forestgreen--->#228B22--->rgb(34,139,34)
green--->#008000--->rgb(0,128,0)
powderblue--->#B0E0E6--->rgb(176,224,230)
lightblue--->#ADD8E6--->rgb(173,216,230)
lightskyblue--->#87CEFA--->rgb(135,206,250)
skyblue--->#87CEEB--->rgb(135,206,235)
deepskyblue--->#00BFFF--->rgb(0,191,255)
lightsteelblue--->#B0C4DE--->rgb(176,196,222)
dodgerblue--->#1E90FF--->rgb(30,144,255)

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [80]:
import pandas as pd

In [81]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [82]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [83]:
soup = BeautifulSoup(data,"html5lib")

In [84]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [85]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

27

Assume that we are looking for the `10 most densly populated countries` table, we can look through the tables list and find the right one we are looking for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [86]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

See if you can locate the table name of the table, `10 most densly populated countries`, below.

In [87]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="3456" data-file-width="5184" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    170,880,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,187
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,610,000
   </td>
   <td>
    41,526
   </td>
   <td>
    424
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,360,000
   </td>
   <td>
    22,072
   </td>
   <td>
    424
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,378,450,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    419
   </td>
  </tr>
 </tbody>
</table>

In [88]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    170,880,000    143,998   1,187
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,610,000     41,526     424
8    9        Israel      9,360,000     22,072     424
9   10         India  1,378,450,000  3,287,240     419

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

Using the same `url`, `data`, `soup`, and `tables` object as in the last section we can use the `read_html` function to create a DataFrame.

Remember the table we need is located in `tables[table_index]`

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [98]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   170880000     143998              1187
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17610000      41526               424
 8     9       Israel     9360000      22072               424
 9    10        India  1378450000    3287240               419]

<font color="darkgreen">The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.</font>

In [99]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]
population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170880000     143998              1187
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17610000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1378450000    3287240               419

## Scrape data from HTML tables into a DataFrame using read_html

We can also use the `read_html` function to directly get DataFrames from a `url`.

In [100]:
dataframe_list = pd.read_html(url, flavor='bs4')

We can see there are 27(As of 2021-06-22) DataFrames just like when we used `find_all` on the `soup` object.

In [101]:
len(dataframe_list)

27

Finally we can pick the DataFrame we need out of the list.

In [102]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170880000     143998              1187
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17610000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1378450000    3287240               419

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [103]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170880000     143998              1187
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17610000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1378450000    3287240               419

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By                                               | Change Description |
| ----------------- | ------- | -------------------------------------------------------- | ------------------ |
| 2020-10-17        | 0.1     | Joseph Santarcangelo  Created initial version of the lab |                    |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork-19487395\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).